<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br/>
<h3>添加用户</h3>
<br/><br/>
<div class="with:80%">
    <form th:action="@{addUser}" method="post">
        姓名:<input type="text" name="name" id="name" placeholder="name"/><br>
        年龄:<input type="text" name="age" placeholder="age"/><br>
        地址:<input type="text" name="address" placeholder="address"/><br>
        <input type="submit" value="添加"/><span style="color: red" th:text="${msg}"></span>
    </form>
</div>
</body>
</html>