<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><a th:href="@{/add}">新增</a></h2>
<table border="1">
    <tr>
        <th>name</th>
        <th>age</th>
        <th>address</th>
        <th>操作</th>
    </tr>
    <tr th:each="user :${list}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.address}"></td>
        <td><a th:href="@{/edit(id=${user.id})}">edit</a></td>
        <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>
    </tr>
</table>
</body>
</html>